.messages{
    padding: 10px;
    margin: 10px;
    width: fit-content;
}

.messages_user{
    margin-left: auto;
    text-align: left!important;
    font-weight: 900!important;
}

.messages_userCard{
    background-color: #0b81ff!important;
    color: white!important;
}

.messages_guestCard{
    background-color: #e9e9eb!important;
}

